.clearfloat {
        clear: both;
        height: 0;
        font-size: 1px;
        line-height: 0px;
}

.jQueryVersion, .jQueryMobileVersion, .cordovaVersion, #theLocation {
	font-size: smaller;
}
